* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: "Montserrat", sans-serif;
}
section {
    background-color: #163c32;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 90%;
    max-width: 400px;
    background-color: rgb(39, 55, 59);
    border-radius: 8px;
    overflow: hidden;
}
.display {
    background-color: #c0c0aa;
    height: 100px;
    width: 100%;
    text-align: right;
    padding: 20px;
    font-size: 30px;
    position: relative;
}
.output {
    opacity: 0.4;
    font-size: 20px;
    height: 20px;
    overflow-x: scroll;
}

.output::-webkit-scrollbar {
    display: none;
}


.all_button {
    color: black;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    background-image: linear-gradient(to bottom right, #1f4037, #99f2c8);

}
.button {
    border: 0.5px solid rgba(92, 92, 92, 0.137);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
}
.button:hover {
    background-color: #1f4037;
    color: beige;
}
.btn-0 {
    grid-column: 1/3;
}